[submodule "ecqm-content-cms-2025"]
	path = ecqm-content-cms-2025
	url = https://github.com/cqframework/ecqm-content-cms-2025.git
[submodule "cql-tests-runner"]
	path = cql-tests-runner
	url = https://github.com/cqframework/cql-tests-runner.git
[submodule "cql-studio"]
	path = cql-studio
	url = https://github.com/cqframework/cql-studio.git
