[submodule "cql-tests-runner"]
	path = cql-tests-runner
	url = https://github.com/cqframework/cql-tests-runner.git
[submodule "cql-studio"]
	path = cql-studio
	url = https://github.com/cqframework/cql-studio.git
[submodule "cqf-ruler"]
	path = cqf-ruler
	url = https://github.com/cqframework/cqf-ruler.git
